{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "all",
    "printWidth": 9007199254740991,
    "arrowParens": "always",
    "endOfLine": "lf"
}
