:root {
    --color-separator: rgba(0, 0, 0, 0.08);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 8px;
    margin-top: 8px;
    padding-top: 0;
}

::highlight(page-hash-highlight) {
    background: #fff3a3;
    color: inherit;
}

nav > a.nav-up {
    visibility: hidden;
}
