
/* ------ */
/* Layout */

/* ------ */
/* App specific */

* {
    -webkit-tap-highlight-color: transparent;
}

.a11y-helper {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    box-sizing: border-box;
}
